.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-card {
    width: 100%;
    max-width: 600px;
    margin: 16px;
}

.task-title {
    margin-bottom: 20px;
}

.task-input-container {
    display: flex;
    align-items: center;

    button {
        margin-bottom: 20px;
    }
}

.task-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-creation {
    font-size: 12px;
    padding: 0 15px;
    margin-top: 0;
}

.task-filter-bar {
    text-align: right;
}