<div class="container">
    <mat-card class="task-card">
        <mat-card-header>
            <mat-card-title class="task-title">My Tasks</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="addTask()" class="task-input-container">
                <mat-form-field appearance="outline" class="full-width">
                    <input matInput placeholder="Add a task" [formControl]="taskControl">
                </mat-form-field>
                <button type="submit" matIconButton aria-label="Add a task" [disabled]="!taskControl.value?.trim()">
                    <mat-icon>add</mat-icon>
                </button>
            </form>

            <mat-selection-list class="task-list">
                @for (task of tasks | async; track task.id){
                <div class="task-wrapper">
                    <div class="task-option">
                        <mat-list-option [selected]="task.isDone" (click)="toggleTask(task)">
                            {{ task.title }}
                        </mat-list-option>
                        <button matIconButton aria-label="Remove a task" (click)="removeTask(task.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <p class="task-creation">Created : <span>{{ task.createdAt | date }}</span></p>
                </div>
                }
            </mat-selection-list>
        </mat-card-content>
    </mat-card>
</div>